Videos_Folder
Video_to_Jpg_Folder
test_output
test_folder
test_utils
test_video_converter
testing_folder
video_converter_Folder
Old
_pycache_
pycache
__pycache__
/pycache/*

toCopy.txt
test_converter.py
test_utils.py
test.py
get_video_fps.py
install_dependencies.py

CV_to_FFMPEG.txt